In [25]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.cross_validation import cross_val_score

#Spam Base from UCI Machine Learning repository

In [26]:
spam_base = pd.read_csv('spambase.data.csv', header=None)

In [27]:
spam_base.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1

In [28]:
X_data = spam_base.iloc[:, :57]

In [29]:
X_data.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191

In [30]:
y_data = spam_base.iloc[:, 57:]

In [31]:
y_data.head()

   57
0   1
1   1
2   1
3   1
4   1

In [37]:
X_data_train, X_data_test, y_data_train, y_data_test = train_test_split(x_data, y_data, train_size=0.6, test_size=0.4)

In [38]:
mnb = MultinomialNB()
mnb.fit(X_data_train, y_data_train)
mnb.predict(X_data_test)

/usr/local/lib/python3.4/site-packages/sklearn/utils/validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 1, ..., 1, 1, 0])

In [39]:
mnb.score(X_data_train, y_data_train)

0.79818840579710149

In [40]:
mnb.score(X_data_test, y_data_test)

0.79793590439978268

#SMS Data from UCI Machine Learning repository

In [66]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import glob

In [67]:
sms_collection = pd.read_csv('./smsspamcollection/SMSSpamCollection', header=None, sep='\t')

In [68]:
sms_collection.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [77]:
sms_y_data = sms_collection.loc[:, 0]

In [78]:
sms_y_data.head()

0     ham
1     ham
2    spam
3     ham
4     ham
Name: 0, dtype: object

In [79]:
sms_X_data = sms_collection.loc[:, 1]

In [80]:
sms_X_data.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: 1, dtype: object

In [81]:
sms_X_data_train, sms_X_data_test, sms_y_data_train, sms_y_data_test = train_test_split(sms_X_data, sms_y_data)

In [94]:
vectorizer = CountVectorizer()
mnb1 = MultinomialNB()
vectorizer.fit(sms_X_data_train)
X_train = vectorizer.transform(sms_X_data_train)
X_test = vectorizer.transform(sms_X_data_test)

In [96]:
mnb1.fit(X_train, sms_y_data_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [100]:
mnb1.score(X_train, sms_y_data_train),\
mnb1.score(X_test, sms_y_data_test)

(0.99377841588896865, 0.98707824838478109)

In [101]:
### Same as above, using pipeline

In [103]:
from sklearn.pipeline import Pipeline

In [109]:
spam_pipe = Pipeline([('bag_of_words', CountVectorizer()),
                      ('bayes', MultinomialNB())])
spam_pipe

Pipeline(steps=[('bag_of_words', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('bayes', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [110]:
spam_pipe.fit(sms_X_data_train, sms_y_data_train)

Pipeline(steps=[('bag_of_words', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('bayes', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [111]:
spam_pipe.score(sms_X_data_train, sms_y_data_train),\
spam_pipe.score(sms_X_data_test, sms_y_data_test)

(0.99377841588896865, 0.98707824838478109)

#Testing with the whole data set

In [122]:
sms_collection.groupby(0).count()

         1
0
ham   4825
spam   747

In [153]:
spam_totals = spam_pipe.predict(sms_X_data)

In [154]:
spam_totals = pd.DataFrame(spam_totals)

In [155]:
spam_totals[0].value_counts()

ham     4841
spam     731
dtype: int64

getting more ham than spam.